BISHUJU_PROXY_URL=
BISHUJU_PROXY_CREDENTIALS=
OKX_API_KEY=
OKX_API_SECRET=
OKX_PASSPHRASE=
ETH_RPC_URL=
BSC_RPC_URL=https://bsc-dataseed.binance.org/
SOL_RPC_URL=https://api.mainnet-beta.solana.com
DEVICE_COOKIE_NAME=bishuju_device
DEVICE_COOKIE_LIFETIME_MINUTES=525600
DEVICE_COOKIE_SECURE=false
MARKET_CHANGE_SOURCE=mysql
MARKET_CHANGE_REDIS_DB=9
MARKET_CHANGE_REDIS_PREFIX=v2:market_change
MARKET_CHANGE_REDIS_MAX_AGE_SECONDS=5
MARKET_CHANGE_SHADOW_SAMPLE_PERCENT=10
MARKET_CHANGE_ERROR_LOG_INTERVAL_SECONDS=10
MARKET_VOLUME_MAX_AGE_SECONDS=1800
